.messageItem{
    padding: 10px 0;
    margin-top: 3px;
    span{
        background-color: #ffffff;
        padding: 10px;
        border-radius: 20px;
        border: 1px solid #afafaf;
    }
}
.messageRight{
    text-align: right;
}